<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longest Common Subsequence</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="proteins.js"></script>
    <script src="alignment1.js"></script>
    <style>
        .el-table th{
            user-select: text; /* 可以选中，以便拷贝表头*/
        }
    </style>

</head>

<body>
    <div id="app7">
        <h1>最大子序列 Longest Common Subsequence</h1>
        <div class="block">
            <span class="demonstration">取BRCT域前缀与后缀长度 Prefix & suffix cut length</span>
            <el-slider v-model="cutLength"></el-slider>
        </div>
        <el-switch style="display: block" v-model="isContinueSequence" active-color="#13ce66" inactive-color="#ff4949"
            active-text="最大连续子序列" inactive-text="可不连续子序列">
        </el-switch>

        <el-button type="primary" @click="onSubmit">计算</el-button>
        <el-progress :text-inside="true" :stroke-width="24" :percentage="percentage" status="success"
            v-if="progeressVisible"></el-progress>

        <h2>BRCT 最大子序 max common subsequence</h2>

        <el-table :data="tableData" style="width: 100%"  border
            :default-sort="{prop: 'name', order: 'descending'}">
            <el-table-column prop="key" label="key" >
            </el-table-column>
            <el-table-column v-for="(item, index) in alignment" :key="index"
                :prop="normKey(item[0]+'_'+(index+1))" :label="(item[0]+'_'+(index+1)).substr(11)">
            </el-table-column>
        </el-table>

        <h2>前缀比较 Prefix</h2>

        <el-table :data="tableDataPrefix" style="width: 100%"  border
            :default-sort="{prop: 'name', order: 'descending'}">
            <el-table-column prop="key" label="key" >
            </el-table-column>
            <el-table-column v-for="(item, index) in alignment" :key="index"
                :prop="normKey(item[0]+'_'+(index+1))" :label="(item[0]+'_'+(index+1)).substr(11)">
            </el-table-column>
        </el-table>


        <h2>后缀比较 Suffix</h2>

        <el-table :data="tableDataSuffix" style="width: 100%"  border
            :default-sort="{prop: 'name', order: 'descending'}">
            <el-table-column prop="key" label="key" >
            </el-table-column>
            <el-table-column v-for="(item, index) in alignment" :key="index"
                :prop="normKey(item[0]+'_'+(index+1))" :label="(item[0]+'_'+(index+1)).substr(11)">
            </el-table-column>
        </el-table>

    </div>

    <script>
        var app6 = new Vue({
            el: '#app7',
            data() {
                return {
                    cutLength: 10,
                    percentage: 0,
                    progeressVisible: false,
                    alignment: alignment,
                    isContinueSequence: true,
                    tableData: [],
                    tableDataPrefix: [],
                    tableDataSuffix: []
                }
            },

            methods: {
                normKey(key) {
                    return key.replaceAll('>', '').replaceAll('.', '_')
                },
                compareField(data, field) {
                    let res = []
                    data.map((itemI, i) => {
                        let row = { key: itemI.key.substr(11) }
                        let keyI = this.normKey(itemI.key)

                        data.map((itemJ, j) => {
                            this.percentage = (i * data.length + j + 1.0) / data.length / data.length * 100;
                            let keyJ = this.normKey(itemJ.key)
                            //自己和自己比没有必要显示
                            if (keyJ == keyI) {
                                row[keyJ] = '-'
                                return
                            }
                            row[keyJ] = i == j ? "-" :
                                (this.isContinueSequence ? longest_substring(itemI[field], itemJ[field]) :
                                    longestCommonSubsequence(itemI[field], itemJ[field]))

                            //最长一个字符也没有必要显示
                            if (row[keyJ].length == 1) {
                                row[keyJ] = '-'
                            }
                            // console.log(this.percentage, itemI.key, row[key]);
                            console.log(keyI, itemI[field], keyJ, itemJ[field]);

                        })

                        res.push(row)
                    })
                    return res
                },
                onSubmit() {
                    this.progeressVisible = true
                    let table1 = calcTableData(alignment, proteins, this.cutLength)
                    this.percentage = 10
                    this.tableData = this.compareField(table1, 'brct')
                    this.tableDataPrefix = this.compareField(table1, 'before')
                    this.tableDataSuffix = this.compareField(table1, 'after')
                    // console.log(this.tableData);
                    this.progeressVisible = false
                }

            }
        })
    </script>





</body>

</html>