<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longest Common Subsequence</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="brct.js"></script>
    <script src="alignment1.js"></script>
    <script src="lcss1.js"></script>
    <script>
      //共同序列，可不连续
      let a =  longestCommonSubsequence("DEFABCDE","ABCDEF")
      console.log("a=",a);
     
      //共同最大连续序列
      let b= getLongestCommonSequencesBetweenTwoSequences("DEFABCDE","ABCDEF")
      console.log("b=",b);
    </script>

</head>

<body>
    <div id="app7">
        <h1>Longest Common Subsequence</h1>
        <div class="block">
            <span class="demonstration">Cut length</span>
            <el-slider v-model="cutLength"></el-slider>
          </div>

        <el-button type="primary" @click="onSubmit">计算</el-button>
        <el-progress :text-inside="true" :stroke-width="24" :percentage="percentage" status="success"></el-progress>


        <el-table :data="tableData" style="width: 100%" 
        height="500px"
        
        border :default-sort="{prop: 'name', order: 'descending'}">
            <el-table-column  
             prop="key" label="key" fixed>
            </el-table-column>
            <el-table-column v-for="(item, index) in alignment" 
            :key="index" :prop="item[0].replaceAll('>', '').replaceAll('.', '_')" :label="item[0].substr(11)">
            </el-table-column>
        </el-table>

    </div>

    <script>
        var app6 = new Vue({
            el: '#app7',
            data() {
                return {
                    cutLength: 10,
                    percentage:0,
                    alignment: alignment,
                    tableData: []
                }
            },
           
            methods: {
                onSubmit() {
                    let table1 = calcTableData(alignment, brct, this.cutLength)
                    this.percentage = 10
                    this.tableData = []
                    table1.map((itemI,i)=>{
                         let row = {key:itemI.key.substr(11)}
                         let keyI = itemI.key.replaceAll('>', '').replaceAll('.', '_') 

                         table1.map((itemJ, j)=>{
                            this.percentage = (i*table1.length+j+1.0)/table1.length/table1.length*100;
                            let keyJ = itemJ.key.replaceAll('>', '').replaceAll('.', '_')
                            if(keyJ==keyI) {
                                row[keyJ] = '-'
                                return 
                            }
                            row[keyJ] = i==j? "-": getLongestCommonSequencesBetweenTwoSequences(itemI.brct, itemJ.brct)

                            if(row[keyJ].length==1){
                                row[keyJ]='-'
                            }
                            // console.log(this.percentage, itemI.key, row[key]);
                            
                        })

                        this.tableData.push(row)
                    })
                    console.log(this.tableData);
                }

            }
        })
    </script>





</body>

</html>